/*  your css code here. If applicable */
body{
	height: 100%;
	width: 100%;
	position: absolute;
}
.box{
	height: 200px;
	width: 200px;
	position: absolute;
	background-color: lightblue;
	border: 5px black solid;
	text-align: center;
}